// Body
$body-bg: #F1F3F4;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins');

// Typography
$font-family-sans-serif: Poppins, sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$light: #FAFAFA;
$semilight: #bababa;
$dark: #343a40;
$gray: rgba(117, 117, 117, 0.5);
$semidark: #757575;
$primary: #5AA0D0;
$darkprimary: #004A74;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$gradients: () !default;

$gradients: map-merge((
   warning: linear-gradient(-45deg, #ffc04a, #ffed4a),
   danger: linear-gradient(-45deg, #c91c16, #e3342f)
), $gradients);

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
   #{$parent} {
     background: $gradient;
     color: #ffffff !important;
   }
 }
 // Gradient text
 @mixin text-gradient($parent, $gradient) {
   #{$parent} {
     background-image: $gradient;
     color: #ffffff;
     -webkit-background-clip: text;
     background-clip: text;
   }
 }
 
 // Gradient Classes 
@each $gradient, $value in $gradients {
   @include bg-gradient(".btn-#{$gradient}", $value);
  }