// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icon
@import '~boxicons';

body {
  background: #F1F3F4;
  color: #343a40;
}

.loading {
  top: 0;
  position: fixed;
  background-color: #F1F3F4;
  z-index: 100000;
  height: 100%;
  width: 100%;
  margin: auto;
}

.progress-container {
  position: relative;
  top: 45%;
  margin: auto;
}

.progress {
  background-color: #00000012;
  height: 0.25rem;
  max-width: 50vw;
  width: 250px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.progress-bar {
  background-size: 27em 0.25em;
  height: 100%;
  position: relative;
  background-image: linear-gradient(-45deg, #004A74, #5AA0D0);
  animation: cssload-width 1s infinite;
  -o-animation: cssload-width 1s infinite;
  -ms-animation: cssload-width 1s infinite;
  -webkit-animation: cssload-width 1s infinite;
  -moz-animation: cssload-width 1s infinite;
}

@keyframes cssload-width {
  0% {
    left: 0px;
    width: 0px;
  }

  50% {
    left: 0px;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0px;
  }
}

@-webkit-keyframes cssload-width {
  0% {
    left: 0px;
    width: 0px;
  }

  50% {
    left: 0px;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0px;
  }
}

.bg-primary {
  background: linear-gradient(-45deg, #004A74, #5AA0D0) !important;
  color: white !important;
}

.bg-light {
  background: #ffffff !important;
}

.navbar {
  background: linear-gradient(-45deg, #004A74, #5AA0D0) !important;
}

.navbar-toggler {
  color: #ffffff !important;
  border: none;
  font-size: 1.25rem !important;
}

.navbar-toggler:hover {
  color: #ffffff;
}

.judul {
  color: #5AA0D0;
  font-size: 1.4rem;
  line-height: 1;
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
}

.konten-tabel {
  min-width: 100%;
  width: 8rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  vertical-align: middle;
}

td {
  padding: 0.6rem 1rem !important;
  vertical-align: middle !important;
}

.fit-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card {
  border-radius: 6px;
  border: 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card-header {
  padding: 2rem 2.3rem;
  border: 0px;
}

.card-body {
  padding: 2.5rem 2.3rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 0px;
}

.shadow {
  box-shadow: 0.4rem 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.breadcrumb-item.active {
  color: rgba(117, 117, 117, 0.5);
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(117, 117, 117, 0.5);
  padding: 0rem 0.25rem !important;
}

.btn {
  padding: 0.375rem 1.5rem;
}

.btn-primary {
  background: linear-gradient(-45deg, #004A74, #5AA0D0);
}

.btn-primary:hover {
  background: #2C74A1;
}

.form-control {
  height: calc(1.8em + 0.75rem + 2px);
  border-width: 2px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0, 73, 116, 0.25);
  border: 2px solid rgba(0, 73, 116, 0.5);
}

.was-validated .form-control:invalid,
.form-control.is-invalid:focus {
  box-shadow: 0 0 0 0.1rem rgba(227, 52, 47, 0.25);
  border-width: 2px;
}

.was-validated .form-control:valid,
.form-control.is-valid:focus {
  box-shadow: 0 0 0 0.1rem rgba(56, 193, 114, 0.25);
  border-width: 2px;
}

.show {
  z-index: 100;
}

.input-group-text {
  background: white;
  color: #ced4da;
  border: none;
  border-top-right-radius: 0.15rem !important;
  border-bottom-right-radius: 0.15rem !important;
}

#togglePassword, #toggleConfirmPassword {
  cursor: pointer;
  position: absolute;
  height: calc(100% - 4px);
  right: 3px;
  top: 2px;
  z-index: 5;
}

.showHide {
  background: transparent !important;
  border-radius: 0.25rem !important;
}

.lupa-sandi {
  padding: 6px 0;
}

.copy-right {
  font-size: 0.8rem;
  color: #bababa;
  margin-top: 30px;
  margin-bottom: 0;
}

.nav-link {
  color: #5f5f5f;
  padding: 0.6rem 1.5rem;
}

.nav-item:hover {
  background: rgba(186, 186, 186, 0.25);
  color: #ffffff;
}

.active > .nav-link {
  background: linear-gradient(-45deg, #004A74, #5AA0D0);
  color: #ffffff;
}

.nav-pills .nav-link {
  color: #bababa;
  padding: 0.75rem;
  border-radius: 0;
  border-bottom: 3px solid #bababa !important;
}

.nav-pills .nav-link:hover {
  color: #5AA0D0;
  border-bottom: 3px solid #5AA0D0 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #5AA0D0 !important;
  background-color: #ffffff;
  border-color: #5AA0D0 !important;
}

label {
  margin: 0;
}

.custom-file-upload {
  cursor: pointer;
}

.bx-upload {
  padding-top: 0.1rem;
}

input[type="file" i] {
  display: none;
}

table.dataTable.dtr-column > tbody > tr > td.control:before,
table.dataTable.dtr-column > tbody > tr > th.control:before {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: var(--gray-dark);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  top: 0.4rem;
  left: 20%;
  height: auto;
  width: 20px;
  margin: auto;
  display: block;
  position: initial;
  box-shadow: none;
  box-sizing: content-box;
  text-indent: 0 !important;
  font-family: "Poppins";
  content: "+";
}

table.dataTable.dtr-column > tbody > tr.parent td.control:before {
  content: "\D7";
}

table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

#table_length,
#table_filter {
  margin: 0 0 0.5rem 0;
}

.icon-head {
  color: #ffffff;
  background: linear-gradient(-45deg, #004A74, #5AA0D0);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.account-header {
  background: linear-gradient(-45deg, #004A74, #5AA0D0);
  color: #ffffff;
  padding: 1.5rem 1rem;
  border: none;
}

.logout-btn {
  color: #ffffff !important;
  border: 2px solid #ffffff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.logout-btn:hover {
  background: #ffffff;
  color: #004A74 !important;
}

.btn-warning:hover {
  background: #ffc04a;
}

.btn-danger:hover {
  background: #c91c16;
}

.navbar-body {
  width: 20%;
  max-width: 250px;
}

.content-body {
  width: 80%;
  min-width: calc(100% - 250px) !important;
}

.detail-pengajuan {
  background: #fafafa;
  border: 2px solid #c1c1c1;
}

.detail-mahasiswa th,
.detail-mahasiswa td {
  padding: 0.2rem 0rem 0.2rem 1rem !important;
}

.detail-mahasiswa th {
  width: 35% !important;
  font-weight: normal;
  margin-right: 3%;
}

.detail-mahasiswa td {
  width: 62% !important;
}

.d-flow-root {
  display: flow-root;
}

.swal2-popup.swal2-toast {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1) !important;
}

#swal2-title {
  font-size: 1rem !important;
}

.swal2-content, .swal2-footer {
  font-size: 0.8rem !important;
}

.swal2-cancel {
  background: none !important;
  color: #454545 !important;
  padding: 0.375rem 1.5rem !important;
  font-size: 0.8rem !important;
}

.swal2-confirm {
  padding: 0.375rem 1.5rem !important;
  font-size: 0.8rem !important;
}

@media (max-width: 991px) {
  .navbar-body {
    width: 30%;
  }

  .content-body {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .navbar-body {
    min-width: 100%;
  }

  .content-body {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .account-header {
    padding: 1rem;
  }

  .user {
    margin-left: 0.5rem !important;
    padding-bottom: 1rem;
  }

  .logout {
    float: none !important;
  }

  .detail-mahasiswa th,
  .detail-mahasiswa td {
    padding: 0.2rem 0.3rem !important;
  }
}