// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
   background: linear-gradient(-45deg, #004A74, #5AA0D0);
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: #5F5F5F;
 }
 
 .judul {
   font-size: 1.4rem;
   line-height: 1;
 }
 
 .card {
   box-shadow: 5px 5px 25px #1a1a1a7f;
 }
 
 .card-body {
   padding: 2.5rem;
 }
 
 .btn {
   padding: 0.375rem 1.85rem;
 }
 
 .btn-primary {
   background: linear-gradient(-45deg, #004A74, #5AA0D0);
 }
 
 .form-control {
   height: calc(1.8em + 0.75rem + 2px);
   background-color: #FAFAFA;
   border-width: 2px;
 }
 
 .form-control:focus {
   box-shadow: 0 0 0 0.1rem rgba(0, 73, 116, 0.25);
   border: 2px solid rgba(0, 73, 116, 0.25);
 }
 
 .lupa-sandi {
   padding: 6px 0;
 }
 
 .copy-right {
   font-size: 0.8rem;
   color: #ffffff;
   margin-top: 30px;
   margin-bottom: 0;
 }